* {
    font-family: "Roboto", system-ui;
    background-color: black;
    border-color: red;
}

.photo *{
    background-color: white;
}

.photo {
    background-color: white;
    width: 600px;
    height: 800px;
    margin: 0 auto;
}

.photo-title{
    display: flex;
    min-width: 100%;
    max-width: 100%;
    height: 10%;
    margin: 0;
    flex-basis: 20%;
    overflow: hidden;
}

.fa-brands{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 40px;
}

.fa-solid{
    margin: 2% 3% auto auto;
    font-size: 40px;
}

.photo-text{
    margin-top: 2%;
    margin-left: 1%;
    height: 10%;
    display: block;
}
.photo-text p{
    margin: 0;
    padding-bottom: 0;
}

.photo-text p:nth-child(1){
    font-weight: bold;
}

.photo-image {
    margin: 0;
    width: 100%;
    height: 60%;
}

.photo-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.photo-icons{
    display: flex;
    margin-top: 2%;
    padding-left:1%;
    font-size: 40px;
    
}

.photo-icons *{
    margin-left: 1.5%;
}

.fa-bookmark {
   margin: 0 3% auto auto;
}

.photo-description{
    display: block;
    margin: 0;
    width: 100%;
    height: 20%;
    
}

.photo-description *{
    margin-top: 3%;
    margin-left: 2%;
}
.photo-description p:nth-child(2){
    margin-right: 3%;
    word-break: break-all;
    max-height: 60%;
    overflow: hidden;
    text-overflow: hidden;
}
